*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    
    
}

.row>*{
    width: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 50px;
    /* box-shadow: 0px 0px 5px #000; */
    width: 100%;
    height: 100px;
  position: static;

}
#logo{
    color:#00a0f0 ;
    font-size: 2rem;
    padding: 5px 10px;
    font-weight: bold;
    height: 50px;
    width: 100px;
    /* font-family: Arial, Helvetica, sans-serif; */
    cursor: pointer;
    margin-top: -30px;
    margin-right: 40px ;
    
}
#logo span{
    color: rgb(27, 196, 27);
    font-size: 2.8rem;
    /* padding: 5px 10px; */
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma;
}

.search-insite-box{
    position: relative;
    height: 40px;
    width: 400px;
    display: inline-block;
}
.search-box input{
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #00a0f0;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
::placeholder{
    font-size: 1.2rem;
    padding:5px 10px ;
    color: white;
}
.search-insite-box img{
    height: 40px;
    width: 40px;
    position: absolute;
    transform: translate(-40px,0px);
    background-color: rgb(27, 196, 27);
    padding: 5px;
    /* padding: 10px 10px; */
    cursor: pointer;
    border-radius: 10px;



}
.sign-in,.panier{
    /* height: 90px;
    width: 100px; */
    margin-top: 30px;
    /* margin-bottom: 0px; */
}

.sign-in img,.panier img{
    /* width: 40px;
    height: 40px; */
   
    cursor: pointer;
}
.sign-in img:hover,.panier img:hover,.btn-contact:hover,#contact:hover{
    opacity: 0.8;
}
.sign-in p,.panier p{
    /* text-align: center; */
    color:rgb(27, 196, 27) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .7rem;
    transform: translateX(-1rem);
}
#contact{
    position: relative;
    width: 100px;
    height: 40px;
}
.btn-contact{
    position: absolute;
    height: inherit;
    width: inherit;
    padding: 5px 5px;
    border: none;
    outline: none;
    background-color: rgb(27, 196, 27);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.7rem;
}
/*             sidebar                    */
#sidebar{
    position: sticky;
    z-index: 34;
    /* position: relative; */
    width: 100%;
    height: 40px;
    background-color: black;
}
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-item{
    list-style: none;
    font-size: 1.4rem;   
}
.navbar-item a{
    text-decoration: none;
    color: white;
    font-family: 'Crimson Text', serif;
    position: relative;
}
.navbar-item a::before{
    content: attr(data-content);
    position: absolute; 
    top: -2px;
    left: 0;
    font-family: 'Crimson Text', serif;
    color:#00a0f0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.3s ease-in-out;
}
.navbar-item a:hover::before{
    width: 100%;
    /* transition: width 0.3s; */

}
.navbar-item a:hover{
    width: 0;
    transition: width 0.3s;

}

/*           Carousel               */
.carousel-item h1{
    position: relative;
    color: #00a0f0;
    /* font-family: ; */
    font-family: 'Crimson Text', serif;
    top: 40%;
    transform: translate(15rem,-15rem);
    font-size: 2.7rem;
    width: 32rem;

}
.carousel-indicators li{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #00a0f0;
}


/*                       section titre de nouveates                     */
#nouveautes{
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#nouveautes p{
    position: absolute;
    left: 20px;
    top: 5px;
    font-size: 1.1rem;
    font-weight: bold;

}
#nouveautes a{
    position: absolute;
    right: 20px;
    top: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    color: rgb(27, 196, 27);

}

/*                        slide  div des nouvoutes                     */
#swipper-nouveautes{
    margin-top: 40px;
    padding: 10px 12px;
    position: relative;
    width: 100%;
    /* height: 320px;
    overflow: hidden; */
}
.slide-item-container{
    position: absolute;
    width: 100%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    /* overflow: hidden; */
   

}
.article{
    /* width: 10rem;
    height: 10rem; */
    position: relative;
    display: inline-block;
    margin: auto;

}
.small{
    width: 13rem;
    height: 15rem;
    margin: 10px auto;
}
.article-img{
    position: relative;
    height: 12rem;
    width: 12rem;
    /* width:208.75px; */
}
.article-img img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: padding 0.2s,opacity 0.2s;
    border-radius: 5px;
}
.article-img img:hover{
    padding: 15px;
    cursor: pointer;
    opacity: 0.8;
}
.article-name{
    color: #000;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 5px 10px;
}
.article-prix{
    color: #00a0f0;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 5px 10px;
    margin-top: -20px;
}
.article-panier img{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10%;
    right: 10%;
    cursor: pointer;
    color: #00a0f0;
}
/*                     Categories            */



.categorie{
    width: 20rem;
    height: 17rem;
    position: relative;
    padding: 10px;
    margin: auto;
   cursor: pointer;
    /* box-shadow: 0px 0px 10px #000; */
}
.categorie-img{
    position: relative;
    top: 0;
    width: 100%;
    height: 10rem;
}
.categorie-img img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.categorie-title{
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(27, 196, 27);
    font-weight: 700;
}
.categorie-list{
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;

}
.categorie-list-item{
    /* letter-spacing: 3px; */
    color: #000;
    font-weight: 400;
    padding: 0px 2px;
}
.categorie p{
    color: #00a0f0;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;

}


/*                   sectionn   ce que  nous vous proposons        */

.article-cover{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.9);
    cursor: pointer;

}
.article-cover:hover{
    background-color: rgba(0, 0, 0,1);
}
.article-cover h1{
    position: absolute;
    text-align: center;
    top: 30%;
    left: 7%;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2.9rem;
}


/*           section Market                */
#market{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.market-img{
    position: relative;
    height: 200px;
    width: 500px;
    margin: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0,0.9);
    border-radius: 5px;
}
.market-img img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.article-prix-promo::before{
    position: absolute;
    top: 5%;
    right: 2%;
    /* cursor: pointer; */
    background-color: red;
    /* font-weight: bold; */
    height: 10px;
    width: 300px;
    z-index: 1000;
    
}
.article-prix-promo{
   
    position: absolute;
    top: 5%;
    right: 2%;
    cursor: pointer;
    color: red;
    font-weight: bold;

    text-decoration: line-through;
    text-decoration-line: line-through;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    

}

/*                      footer                  */
footer{
    min-height: 80vh;
    
     background-color: #000;
     color: white;
     padding: 40px;

}
.container-footer-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 40px;
}
.footer-item{
    display: block;
    height: 200px;
    width: 200px;
}
.footer-item h1{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(27, 196, 27);
}
.footer-item p{
    font-family: Arial, Helvetica, sans-serif;
}
.footer-search{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer-search h1{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-box-footer{
    height: 40px;
     width: 500px;
    position: relative;
    /* padding: 10px; */
   

}
.footer-search-input{
    margin: 30px 20px 20px 20px;
    width: 20rem;
    position: relative;
    border: none;
    outline: none;
    height: 40px;
    background-color: rgb(27, 196, 27);
    padding: 2px 10px;
    font-size: 13px;
    font-weight: bold;
    

}
 .spane{
    margin: 30px 60px 20px 20px;

    display: inline-block;
    z-index: 23;
    position: absolute;
    top: 0;
    right: 0;
    width: 7rem;
    height: 40px;
    background-color: #00a0f0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.spane p{
    margin-top: 10px;
    color: white;
    font-weight: bold ;
}
.menu-link{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 20px 40px 20px;
}
.menu-link img{
    height: 50px;
    width: 50px;
    /* background-color: #00a0f0; */
    color: rgba(0, 0, 0,0.9);
    border-radius: 50%;
    margin: 20px;
    object-fit: contain;
    transition: background-color 0.3s;
    cursor: pointer;
    padding: 10px 10px;
}
.menu-link img:hover{
    background-color:rgb(27, 196, 27) ;
}



/*       sidebar      toggle   */

#sidebar-toggle{
    position: fixed;
    top: 0;
    bottom: 0;
   min-height: 100vh;
    width: 70vw;
    background-color: rgb(0, 0, 255);
    z-index: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 3rem;
    font: roboto, sans-serif;
    transform: translateX(-75vw);
    transition: translateX 1s ease-in;
}
#bars{
    position: absolute;
    top: 3rem;
    left: 2rem;
    display: none;
    
}
#Times{
    position: absolute;
    top: 0rem;
    right:0.5rem;
}









.box-test{
    height: 400px;
    width: 400px;
    position: relative;
    margin: 40px;
}
.box-test img{
    position: absolute;
    height: 350px;
    width: 350px;
    object-fit: contain;
    transition: padding 0.5s;

}
.box-test img:hover{
    padding: 20px;
    transition: padding 0.5s;
    cursor: pointer;
}



@media screen and (max-width:760px){
    body{
        width: 100%;
        height: 100%;
    }
    #sidebar{
        display: none;
    }
    #contact{
        display: none;
    }
    .header{
        display: flex;
        flex-direction: column;
        line-height: 40px;
        padding: 40px 0px 40px 0px;
    }
    .sign-in{
        position: absolute;
        top: -2rem;
        right:  0rem;
        margin-bottom: none;
        
        
    }
    .panier img,.sign-in img{
        width: 30px;
        height: 30px;
    }
    .panier{
        position: absolute;
        top: -2rem;
        right:  6rem; 
        margin-bottom: none;

       
      
    }
    #logo{
        position: absolute;
        top: 2rem;
        left: 0;
        font-size: 1.3rem;
    }
    #logo>span{
        font-size: 1.4rem;
    }
    .search-box{
        margin-top: 50px;
        /* margin-bottom: 20rem; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
    }
    #carouselExampleControlsNoTouching{
        margin-top: 3rem;
    }
    #bars{display: block;}
    .search-box input{
        width: 250px;
        margin-left: 30px;
    }

    .footer-search-input{
        margin: 30px 20px 20px 20px;
    width: 10rem;
    /*width: 17rem;*/
    position: relative;
    border: none;
    outline: none;
    height: 40px;
    background-color: rgb(27, 196, 27);
    padding: 2px 10px;
    font-size: 13px;
    font-weight: bold;
    display: none;
    
    }
     .spane{
        margin: 30px 100px 20px 20px;

        display: inline-block;
        z-index: 23;
        position: absolute;
        top: 0;
        right: 0;
        /*width: 7rem;*/
        width: 3rem;
        height: 40px;
        background-color: #00a0f0;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
        display: none;
        
    }
    .input-box-footer{
        display: none
    }
}